@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EDNimpkish";
  src: url("/fonts/EDNimpkish-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
