@import "./fonts.css";
@import "./themes.css";
@import "./grid.css";

:root {
  /* spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  /* font sizes */
  --text-xs: 1rem;
  --text-base: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 3.5rem;
  --text-3xl: 7rem;

  /* border radius */
  --radius-full: 9999px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 1.5;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

::selection {
  background-color: var(--text-colour);
  color: var(--bg-colour);
}

h1,
h2,
h3 {
  font-family: "EDNimpkish", serif;
  font-weight: 400;
  font-size: var(--text-2xl);
  line-height: 1.15;
}

ol,
ul {
  list-style: none;
}

a {
  color: var(--text-colour);
  text-decoration: none;
}

button {
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-size: var(--text-base);
}

@media (min-width: 768px) {
  body {
    font-size: var(--text-lg);
  }

  h1,
  h2,
  h3 {
    font-size: var(--text-3xl);
  }
}
