:root {
  --grid-columns: 12;
  --grid-gutter: 1rem;
  --container-max-width: 1600px;
  --container-padding: 2rem;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
  width: 100%;
}

.grid > * {
  grid-column: span 12;
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .colmd--5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1140px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1140px) {
  .col-xl-1 {
    grid-column: span 1;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
}
