---
import ThemeSwitcher from "./ThemeSwitcher.astro";

export interface Props {
  showThemeSwitcher?: boolean;
}

const { showThemeSwitcher = false } = Astro.props;
---

<header class="header container">
  <div class="header__logo">LOGO</div>

  <div class="header__switch-navigation">
    {showThemeSwitcher && <ThemeSwitcher />}
    <button class="header__burger" aria-label="Open navigation menu">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <nav class="header__navigation">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    padding: var(--space-md) 0;
    display: flex;
    justify-content: center;
  }

  .header__switch-navigation {
    position: fixed;
    bottom: var(--space-lg);
  }
</style>
